# Ignore raw downloaded data
datasets/merra/merra_unprocessed/*.nc4

# Ignore processed data (optional)
datasets/merra/merra_processed/*.csv

datasets/cpcb/processed/*.csv

# Ignore Python junk
__pycache__/
*.pyc

# VSCode or editor configs (optional)
.vscode/
.idea/

# Virtual environment
.venv/
