# Ignore raw downloaded data
datasets/merra/merra_unprocessed/*.nc4

# processed data 
datasets/merra/merra_processed/*.csv
datasets/cpcb+merra_processed/merged_model_input_monthly.csv
datasets/cpcb/processed/*.csv


# Ignore Python junk
__pycache__/
*.pyc

# VSCode or editor configs (optional)
.vscode/
.idea/

# Virtual environment
.venv/

#Test files
src/preprocessing/test.py